
h1 {
    margin:0 auto;
    text-align:center;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.contact-container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
   
}
.contact-left{
    display:flex;
    flex-direction : column;
    align-items: start;
    gap:20px;
}
.contact-left-title h2{
    font-weight: 600;
    color:#a363aa;
    font-size:40px;
    margin-bottom:5px;
}
.contact-left-title hr{
    border:none;
    width:400px;
    height:5px;
    background-color:#a363aa;
    border-radius:10;
    margin-bottom:20px;
}

.contact-inputs{
   width:400px;
   height:50px;
   border:2px solid #a363aa;
   outline: none;
   padding-left:25px;
   font-weight:500;
   color:purple;
   border-radius:50px;
}

.contact-left textarea{
    height:140px;
    padding-top:15px;
    border-radius:20px;

}

.contact-inputs:focus{
    border:2px solid #a9aa63;
}

.contact-inputs::placeholder{
    color:magenta
}

.contact-left button{
    display:flex;
    align-items:center;
    padding:15px 30px;
    font-size:16px;
    color:#fff;
    gap:10px;
    border:none;
    border-radius:50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor:pointer;
}

.logo1{
    mix-blend-mode:darken;
    
}

@media(max-width:800px){
    .contact-inputs{
        width:80vw;
    }
}