.charthealth{
            width: 100vw;
            height: 80vh;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
}

@media (max-width :768px){
    h1{
        font-size: 20px;
    }
    .charthealth{
        width: 100%;
    }
    
  }