
h1 {
    margin:0 auto;
    text-align:center;
}
h2{
    margin:0 auto;
    text-align:Center;
}
h3{
   margin:0 auto;
    text-align:Center; 
}
h4{
   margin:0 auto;
    text-align:left; 
}

.newdiv {
    border:5px outset black;
    background-color: lightblue;
    text-align:left;
}
.secdiv{
    border:5px outset black;
    background-color: rgb(230, 173, 213);
    text-align:left; 
}
.container {
display: flex;
align-items: "";
}

.container figure, .container p {
margin-right: 15px;
}

li {
    display: list-item;
    list-style-position: inside;
  }
  ol li {
    white-space: nowrap;
  }
  @media (max-width :768px){
  
    figcaption{
        font-size: 8px;
    }
    div{
        width:100%;
        
    }
    p{
      font-size: 9px;
    }

    img{
      max-width:80%;
      height:auto;
    }
    ol li {
        white-space: wrap;
      }
    em{
        font-size: 10px;
    }
  }